NEXT_PUBLIC_SUPABASE_URL=https://ruqgzfoperkfmahpbpcv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1cWd6Zm9wZXJrZm1haHBicGN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzNzcwNDQsImV4cCI6MjA5MDk1MzA0NH0.dCU32VikP5UayKv7JQuTloYn3RlawHlwn7igL6kbJ9I
